.nav {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.nav-caledar {
    width: 19px;
    height: 19px;
    background-position: -10px -10px;
}

.nav-caledar-hover {
    width: 19px;
    height: 19px;
    background-position: -49px -10px;
}

.nav-facebook {
    width: 10px;
    height: 20px;
    background-position: -88px -10px;
}

.nav-forum {
    width: 28px;
    height: 20px;
    background-position: -10px -49px;
}

.nav-forum-hover {
    width: 28px;
    height: 20px;
    background-position: -58px -50px;
}

.nav-google {
    width: 25px;
    height: 16px;
    background-position: -118px -10px;
}

.nav-journey {
    width: 20px;
    height: 20px;
    background-position: -118px -46px;
}

.nav-journey-hover {
    width: 20px;
    height: 20px;
    background-position: -106px -86px;
}

.caledar:hover .nav-caledar {background-position: -49px -10px;}
.forum:hover .nav-forum {background-position: -58px -50px;}
.journey:hover .nav-journey {background-position: -106px -86px;}