.wrapper {
    width: 100%;
    background-image: url("../images/rana-sawalha.png");
    font-family: 'Roboto', Arial, sans-serif;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    height: 56px;
    background-color: rgba(0,0,0,0.5);
    padding-left: 5vw;
    padding-right: 5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
 }
.logo:hover {color: #3cb878;}
.header-right {
    color: white;
    display: flex;
    flex-direction: row;
}
.nav-menu {padding-right: 25px;}
.nav-p {
    padding-left: 24px;
    border-left: #595959 1px solid;
}
.nav-p-a {
    color: #3cb878;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
}
.nav-p-a:hover {text-decoration: underline;}
main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    }
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 444px;
    height: 616px;
    background-color: white;
    border-radius: 15px;
}

.top-form {
    padding-top: 33px;
    display: flex;
    justify-items: start;
    align-items: center;
    width: 444px;
}
.top-square {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}
.top-sing-up {
    font-size: 20px;
    line-height: 21px;
    color: #434343;
    padding-left: 44px;
}
.top-log-in {
    font-size: 14px;
    line-height: 21px;
    color: #3cb878;
    padding-left: 212px;
    text-decoration: none;
}
.top-log-in:hover {text-decoration: underline;}
.parents-or {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 18px;
}
.or {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 322px;
}
.or::before, .or::after {
    content: '';
    width: 322px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0);
    border-width: 0 10px;
}

.login-bth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.facebook {
    background-color: #305db8;
    width: 156px;
    height: 46px;

    color: white;
    font-size: 16px;
    line-height: 21px;

    text-decoration: none;
    border-radius: 3px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-right: 8px;
}
.nav-facebook {
    padding-right: 15px;
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
}

.google {
    background-color: #df4a32;
    width: 156px;
    height: 46px;

    color: white;
    font-size: 16px;
    line-height: 21px;

    text-decoration: none;
    border-radius: 3px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-google {
    padding-right: 15px;
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
}
.google-s {padding-left: 15px;}
.main-form {
    display: block;
    text-align: center;
    width: 322px;

}
.form-f {
    display: block;
    text-align: center;
    }
.form-name, .last-name, .email, .choose-pas, .confirm-pas {
    width: 304px;
    height: 46px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: rgba(0, 0, 0, 0.2) 1px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .0);

    padding-left: 18px;
}
.main-form input:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.parents-checkbox {
    display: block;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 29px;
}

.checkbox {
    padding-top: 22px;
    padding-bottom: 28px;
}
.checkbox-a {
    color: #3cb878;
    text-decoration: none;
}
.checkbox-a:hover {text-decoration: underline;}
.bth-bottom {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 322px;
    height: 46px;

    border-radius: 3px;
    background-color: #329a65;
    border:  #329a65 1px solid;

    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}
