.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 80px;
    text-decoration: none;
    color: #4bcaff;
    display: inline-block;
    padding: 61px 0 45px 0;
}
.logo-ra {color: #000000;}


.menu-header-parent {
    background: #35444f;
    text-align: center;
}
.menu-header {
    display: inline-block;
    font-size: 24px;
    list-style: none;
    border-left: transparent
    1px solid;
    border-right: transparent
    1px solid;
}
.header-a {
    text-decoration: none;
    color: #ffffff;
    padding: 25px;
    margin: 0;
    display: inline-block;
}
.menu-header:hover {
    background-color: #222f3a;
    border-left: white 1px solid;
    border-right: white 1px solid;
}


.menu-main-parent {
    display:inline-block;
    border: black 1px solid;
    margin-top: 51px;
    list-style-type: none;
    width: 346px;
    vertical-align: top
}
.main-a {
    text-decoration: none;
    color: rgba(73, 88, 99, 255);
    display: block;
    padding: 25px 0 25px 44px;
    font-size: 27px;
}
.main-a:hover {
    background-color: #dbdbdb;
    padding-left: 65px;
}


.wrap {
    display:inline-block;
    border: black 1px solid;
    background-color: white;
    width: 885px;
    height: 529px;
    position: relative;
    margin-top: 51px;
    text-align: right;

    box-sizing: border-box;
    margin-left: 40px;
}
.main-logo {
    display: block;
    margin: auto auto;
    padding: 73px 0;
    text-align: center;
}
.main-logo:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transition: all 3s ease-out;
}

.paragraph1 {margin: 50px 30px 30px 40px;}
.paragraph2 {margin: 30px 30px 51px 40px;}
.paragraph1, .paragraph2  {
    max-width: 820px;
    font-size: 16px;
    line-height: 24px;
    color: #2c2c2c;
    text-align: left;
}



.footer-parent {
    background: #b4b7ba;
    margin:51px 0 20px 0;
    padding: 20px 0;
}

.footer-menu {
    display: inline-block;
    font-size: 26px;
    list-style: none;
    margin-left: 40px;
    text-align: left;
}
.footer-a {
    color: #0c1927;
    text-decoration: none;
}
.footer-a:hover {
    color: #3181a6;
    text-decoration: underline;
}

.footer-copyright {
    font-size: 24px;
    display: inline-block;
    text-align: right;
    padding:0 30px 0 90px;
    color: #010101;
}