.wrepper {
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: #3a4965 24px solid;
    border-left: #3a4965 22px solid;
    border-bottom: #3a4965 32px solid;
    border-right: #3a4965 30px solid;
}

.pricing {width: 100vw;}
.price-rows>td, .price-rows>th {
    width: 310px;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    border-right: rgba(0,0,0,0.1) 2px solid;
}

tr:first-child{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    }
th:first-child {
    font-size: 30px;
    line-height: 28px;
    color: #484848;
}
th:first-child>span {font-size: 18px;}

.price {
    width: 310px;
    height: 70px;
    vertical-align: middle;
    border-right: rgba(0,0,0,0.1) 2px solid;

    text-align: left;
    font-size: 18px;
    color: #484848;
}
.price-penny {
    display: inline-block;
    margin-top: -35px;
    padding-bottom: 4px;

    font-size: 24px;
    font-weight: 700;
    color: #484848;
}
.price-s {
    padding-top: 5px;
    padding-left: 33px;
    float: left;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    color: #484848;
}

.contact-us {background-color: #484848;}
.buy-green, th:nth-child(2){background-color: #89c331;}
.buy-pink, th:nth-child(3) {background-color: #f04a56;}
.buy-blue, th:nth-child(4) {background-color: #20807c;}

tr:nth-child(odd) {background-color: #f2f2f2;}
tr:nth-child(2n+2) {background-color: #e3e3e3;}
tr:first-child {background-color: #fafafa;}


.btn-parent {background-color: #dddddd;}
.btn {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;

    margin: 30px auto;
    width: 192px;
    height: 49px;
    border-radius: 7px;
}
.contact-us:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #484848, green);
}
.buy-green:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg,#89c331, green);
}
.buy-pink:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg,#f04a56, green);
}
.buy-blue:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg,#20807c, green);
}
