body {
    background-image: url("../img/Sunset.jpg");

    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 700 1em 'Pacifico', cursive, sans-serif;
}

.anim {
    position: absolute;
    width: 60%;
    margin: 0 20%;
    height: 100%;
    font-size: 250%;
    text-align: center;
    color: yellow;
    transform: perspective(300px) rotateX(40deg);
}

.anim-sun {
    position: absolute;
    top: 100%;
    animation: anim 30s linear infinite;
}

.anim-p {
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em;
}

@keyframes anim {
    50% {
        opacity: 1;
    }
    100% {
        top: -100%;
        opacity: 0;
    }
}

