
.wrapper {
    width: 100%;
    background-image: url(../img/background.jpg);
    font-family: 'Roboto', Arial, sans-serif;
    letter-spacing: 1px;
   }

.logo {
    float: left;
    width: 44px;
    height: 46px;
    margin-left: 145px;
    margin-top: 44px;
    background-image: url("../img/logo.png");
}

.logo-p {
    float: left;
    width: 30%;
    font-size: 29px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 46px;
}
.logo-s {font-size: 18px;}


.header-right {
    float: right;
    width: auto;
    margin-right: 147px;
    margin-top: 53px;
}
.logo-right {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-align: right;
    display: inline-block;
}

main {
    clear: both;
    display: block;
    text-align: center;
}
.container {display: inline-block;}
.main-menu {
    margin-top: 46px;
    float: left;
    margin-right: 69px;
 }
.main-menu:nth-of-type(3n) {margin-right: 0;}
.main-menu:nth-of-type(4n) {clear: both;}

.comment {
    margin-top: 22px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}
.only-a {text-decoration: none;}

.footer-p {
    clear: both;
    float: end;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 48px;
    padding-bottom: 15px;
}

 .menu {
     position: relative;
     background: linear-gradient(to bottom, white, rgba(0, 0, 0, 0));
     padding: 1px;
    z-index: 1;
 }

.only-a {position: relative;}
 .anim {
     display: block;
     position: absolute;

     color: white;
     font-size: 14px;
     line-height: 21px;

     z-index: -3;
     top: 0;

     width: 280px;
     height:63px;

     margin-top: 50px;
     padding-left: 20px;
     padding-right: 10px;

     background-color: #f26522;

     -webkit-transition: all .3s;
     -moz-transition: all .3s;
     -o-transition: all .3s;
     transition: all .3s;

     text-align: left;
 }
.anim-f {font-size: 10px;}
.anim-euro {
    font-size: 20px;
    display: inline-block
}
.anim-d {
    display: inline-block;
    text-align: right;
    padding-left: 120px;
}

.only-a:hover .anim {z-index: 2;}

.only-a:hover .comment, .logo-a:hover .logo-p, .logo-a:hover .logo-s {color: #f26522;}

.logo-a:hover .logo {background-image: url("../img/logo-hover.png");}